<div class="container marketing margin">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
         <h2 class="blueborder">SetStream</h2>
        <p>Find the correct settings to stream at the configuration you want to stream at easily and efficiently now.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <h2 class="blueborder">Rate my PC</h2>
        <p>Rank your computer in seconds with our StreamSets rating. Take the test to understand your components better.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
       <h2 class="blueborder">What's Upgradable?</h2>
        <p>Find the weak point of your PC. So, you could upgrade it and better optimize it for streaming/gaming.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  <div>
    <hr>
    <p class="bottom">2020. Developed and Designed by anand. All rights resrved.</p>
  </div>