<%- include('partials/links') %>
<%- include('partials/nav') %>
<!-- header -->
<div class="container margin">
    <div class="body center">
      <h1 class="display-3 font underline">Contact Us</h1>
    </div>
  </div>

<div class="container margin border">
    <div class="row">
        <!-- contact info -->
        <div class="col-md-6 center margin">
        <h1>Contact Info</h1>
        <p>Email: setstream.in@gmail.com</p>
        </div>
        <!-- newsletter -->
        <div class="col-md-6 backborder">
              <h1 class="center">Join our NewsLetter.</h1>
              <p>By signing up for the newsletter you will stay updated about the worth while checking out updates.</p> 
              <form action="#" method="POST">
               <div class="form-group">
                   <input id="news" type="email" class="form-control" id="formGroupExampleInput" placeholder="Email address">
                 </div>
              <div class="form-group">
                  <input id="submit-news" class="form-control btn-primary" type="submit" value="Submit">  
              </div>
              </form>
          <hr>
        </div>
    </div>
</div>
<%- include('partials/footer') %>

