<%- include('partials/links') %>
<%- include('partials/nav') %>
<div class="container center margin">
    <h2 class="display-4 blueborder center font margin">Frequently Asked Questions</h2>
    <h6 class="text margin display-6">My processor/ GPU is not in the list?</h6>
    <p class="text">We're sorry! You can select the processor closest to you. For instance, instead of, i5 8th gen you can choose i5 9400f. We assure you settings would work. We're trying our best to include all processors. It would be fixed soon!</p>
    <h6 class="text margin display-6">Can I help in this vision?</h6>
    <p class="text">We believe we together can make this vision real and better. You can help us.</p>
    <p class="text"><a href="/help">Check this out</a></p>
    <h6 class="text margin display-6">The settings are not working?</h6>
    <p class="text">You can try reducing your bitrate and if that's not the case the cpu preset. It should work. We're sorry for the inconvenience. Please write a feedback at our forums.</a></p>
</div>
<%- include('partials/footer') %>