<%- include('partials/links') %>
<%- include('partials/nav') %>
<div class="container center">
<h2 class="display-4 blueborder center font margin">You Can Help Us!</h2>
<div class="container marketing margin border">
    <div class="row btm">
      <div class="col-lg-6 center">
        <img src="/images/coding.jpg" class="imagehelp">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6 center">
        <p class="text margin">Do you like web dev, graphic design or have any cool skil?</p>
        <p class="text">Do you believe in our vision of stream ease?</p>
        <p class="text">If you're a student or hobbyist, and just wanna code for fun but also get some experience while doing it.</p>
        <p class="text">We can have a mutual benefit situation here cause we need help to make our vision reality.</p>
        <p class="text">You can email us at setstream.in@gmail.com </p>
    </div><!-- /.row -->
    </div>

</div>
<%- include('partials/footer') %>