<%- include('partials/links') %>
<%- include('partials/nav') %>
<div class="container">
<h2 class="display-4 blueborder center font margin">Our Vision</h2>
<p class="text center margin">Here's What We Believe...</p>
<div class="container border margintop">
    <blockquote class="blockquote text-center">
      <p class="mb-0">I feel like the motive behind this site is wonderful cause streaming as a beginner is very tough as the settings can't be nailed but I also feel the website does unjustice to the purpose.</p>
      <footer class="blockquote-footer margintop">Anand Kishor Prasad, Founder & CEO</footer>
    </blockquote>
</div>
<div class="container border margin">
    <blockquote class="blockquote text-center ">
      <p class="mb-0">The struggle is real. I myself and the people I've been working with have felt it miserably. This idea was such a way out, I couldn't help but work on it.</p>
      <footer class="blockquote-footer margintop">Shivam Mishra, Co-Founder & CMO</footer>
    </blockquote>
</div>
<div class="container border margintop">
    <h6 class="text center margin display-6">The site has the beautiful motive of providing everyone with the stream settings for their respective rigs and configurations but it is very far from reaching there. You can help us reach there.</h6>
    <h6 class="text center margintop marginbottom display-6"><a href="/help">Check this out.</a></h6>
    </div>
</div>
<%- include('partials/footer') %>